<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
    </head>
    <body>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
        <tr>
            <td >
                <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                    <tr>
                        <td>
                            <table border="0" cellpadding="5" cellspacing="0" width="100%" id="emailHeader">
                                <tr>
                                    <td>
                                        {#<img src="{{ absolute_url(asset('images/logoplat.png')) }}" alt="Jachtbroker Oostkust"/>#}
                                        <img src="https://dl.dropboxusercontent.com/u/5500645/logoplat.png" alt="Jachtbroker Oostkust"/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
                                <tr>
                                    <td>
                                        <h3>Hallo!</h3>
                                        <p>We hebben uw aanvraag goed ontvangen.</p>
                                        <p>We nemen eerstdaags contact met u op.</p>
                                        <p>Voor dringende zaken, bel ons op het nummer 0476 29 27 93.</p>
                                        <br/>
                                        <hr/>

                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    <h4>Uw gegevens:</h4>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    Naam: {{ aanvraag.getVoornaam }}&nbsp;{{ aanvraag.getNaam }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Telefoon: {{ aanvraag.getTelefoon }}
                                                </td>

                                            </tr>

                                            {% if aanvraag.getAdres is not empty %}
                                                <tr>
                                                    <td>
                                                        {{ aanvraag.getAdres }}<br/>
                                                        {{ aanvraag.getPostcode }}&nbsp;{{ aanvraag.getPlaats }}
                                                    </td>

                                                </tr>
                                            {% endif %}



                                            <tr>
                                                <td>
                                                    <h4>Uw boot:</h4>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Naam: {{ aanvraag.getNaamShip }}
                                                </td>
                                            </tr>


                                            <tr>
                                                <td>
                                                    Lengte: {{ aanvraag.getLengteShip }}
                                                </td>
                                            </tr>


                                            <tr>
                                                <td>
                                                    Breedte: {{ aanvraag.getBreedteShip }}
                                                </td>
                                            </tr>

                                            {% if aanvraag.getTypeShip is not empty %}
                                                <tr>
                                                    <td>
                                                        Type ship: aanvraag.getTypeShip
                                                    </td>

                                                </tr>
                                            {% endif %}




                                            <tr>
                                                <td>
                                                    <h4>Periode berging:</h4>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    {{ aanvraag.getDatumString(aanvraag.getDatumVanaf) }} - {{ aanvraag.getDatumString(aanvraag.getDatumTot)  }}
                                                </td>
                                            </tr>

                                            {% if aanvraag.getOpmerking is not empty %}
                                                <tr>
                                                    <td>
                                                        <h4>Opmerking:</h4>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>
                                                        {{ aanvraag.getOpmerking }}
                                                    </td>
                                                </tr>
                                            {% endif %}


                                        </table>
                                        <br/>
                                        <hr/>
                                        <br/>    <br/>
                                        <p>Met vriendelijke groeten,</p>
                                        <p>Jacky Versluys</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter">
                                <tr>
                                    <td>
                                        <p style="font-size:9px;color:grey;">Jachtbroker Oostkust BVBA  -  Nieuwe Werfkaai 9  - 8400 Oostende</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </body>
</html>
