{% extends 'base.html.twig' %}

{% block bannerimage %}
    <img src="{{ asset('images/havenoostende.gif') }}" alt="Home"/>
{% endblock %}

{% block menubar %}
    <div class="mcontainer">
        <ul id="menu">
            <li class="active"><a href="{{ path('_home') }}">home</a></li>
            <li><a href="{{ path('_dewerf') }}">de werf</a></li>
            <li><a href="{{ path('_berging') }}">winter berging</a></li>
            <li><a href="{{ path('_tarieven') }}">tarieven</a></li>
            <li><a href="{{ path('_verkoop') }}">verkoop</a></li>
            <li><a href="{{ path('_contact') }}">contact</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h1>Jachtbroker Oostkust</h1>
    <p>
        Bij ons moet u zijn voor reparatie- en restauratie werken, voor het opbergen van uw schip tijdens de winter, schilder- en polyster werken, osmose behandeling en advies.
    </p>

    <p>Onze werf is steeds voor u toegankelijk, zodat u zelf aan uw boot kan klussen.</p>
{% endblock %}
